<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kc.shorturl.repository.mapper.UrlBlacklistMapper">

    <resultMap type="com.co.kc.shorturl.repository.entity.UrlBlacklist" id="UrlBlacklistMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="hash" column="hash" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UrlBlacklistMap">
        select
          id, url, hash, remark, create_time, update_time
        from url_blacklist
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UrlBlacklistMap">
        select
          id, url, hash, remark, create_time, update_time
        from url_blacklist
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="hash != null and hash != ''">
                and hash = #{hash}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from url_blacklist
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="hash != null and hash != ''">
                and hash = #{hash}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into url_blacklist(url, hash, remark, create_time, update_time)
        values (#{url}, #{hash}, #{remark}, #{createTime}, #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into url_blacklist(url, hash, remark, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.url}, #{entity.hash}, #{entity.remark}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into url_blacklist(url, hash, remark, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.url}, #{entity.hash}, #{entity.remark}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        url = values(url),
        hash = values(hash),
        remark = values(remark),
        create_time = values(create_time),
        update_time = values(update_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update url_blacklist
        <set>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="hash != null and hash != ''">
                hash = #{hash},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from url_blacklist where id = #{id}
    </delete>

</mapper>

