<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kc.shorturl.repository.mapper.UrlKeyMapper">

    <resultMap type="com.co.kc.shorturl.repository.po.entity.UrlKey" id="UrlKeyMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="key" column="key" jdbcType="VARCHAR"/>
        <result property="hash" column="hash" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UrlKeyMap">
        select
          id, url, key, hash, create_time
        from url_key
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UrlKeyMap">
        select
          id, url, key, hash, create_time
        from url_key
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="key != null and key != ''">
                and key = #{key}
            </if>
            <if test="hash != null and hash != ''">
                and hash = #{hash}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from url_key
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="key != null and key != ''">
                and key = #{key}
            </if>
            <if test="hash != null and hash != ''">
                and hash = #{hash}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into url_key(url, key, hash, create_time)
        values (#{url}, #{key}, #{hash}, #{createTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into url_key(url, key, hash, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.url}, #{entity.key}, #{entity.hash}, #{entity.createTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into url_key(url, key, hash, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.url}, #{entity.key}, #{entity.hash}, #{entity.createTime})
        </foreach>
        on duplicate key update
        url = values(url),
        key = values(key),
        hash = values(hash),
        create_time = values(create_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update url_key
        <set>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="key != null and key != ''">
                key = #{key},
            </if>
            <if test="hash != null and hash != ''">
                hash = #{hash},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from url_key where id = #{id}
    </delete>

</mapper>

